/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
  color: #0cc05d;
  overflow-x: hidden;
}

/* ==================== NAVBAR ===================*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: #0cc05d;
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* LOGO */
.logo img {
  height: 45px;
  width: auto;
  display: block;
}

@media (max-width: 999px) {
  .logo img {
    height: 38px;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-list li {
  letter-spacing: 3px;
}

a {
  color: whitesmoke;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

/* MENU MOBILE */
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 3px;
  background: #fff;
  margin: 6px;
  transition: 0.3s;
}

/* RESPONSIVO NAV */
@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 60vw;
    height: 92vh;
    background: #0cc05d;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  .mobile-menu {
    display: block;
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* FORMULÁRIO LOGIN */
.content {
  max-width: 500px;
  margin: 120px auto 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  text-align: center;
  color: #0cc05d;
  font-size: 30px;
  font-weight: bold;
}

#login {
  border: 2px solid #0cc05d;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  color: #0cc05d;
}

input:not([type='checkbox']) {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #0cc05d;
  border-radius: 10px;
  color: #0cc05d;
}

button {
  font-size: 18px;
  color: whitesmoke;
  background-color: #0cc05d;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

/* FOOTER */
.rodape {
  background-color: #0cc05d;
  color: whitesmoke;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: 40px;
  position: static;
}

/* ERRO */
#msgError {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 5px;
  border-radius: 4px;
  display: none;
}
